
/* Create Global Fonts/Colors (set theme of web) */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    background-color: cadetblue;
}

/* Styling for the dice */
.dice {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d; /* Preserves 3-d for all faces */
    transform: rotateX(45deg) rotateY(45deg);
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 5px solid #e0e0e0;
    background: linear-gradient(145deg,#dddbd8, #fff);
    transform-style: preserve-3d;
}

/* Added slant to dice and side faces affects */
.face::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(162, 45, 45);
    transform: translateZ(-1px);

}

/* Added a dot to dice for numbering */
.face::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #131210;
}

/* One red dot for dice main face */
.front::after {
    width: 30px;
    height: 30px;
    background: #f63330;
    margin: -15px 0 0 -15px;
}

/* Added second fact to the right side of slanted first face */
.front {
    transform: translateZ(50px);
}

/* Added thrid back face*/
.back {
    transform: rotateX(180deg) translateZ(50px);
}

.top {
    transform: rotateX(90deg) translateZ(50px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(50px);
}


.right {
    transform: rotateY(90deg) translateZ(50px);
}

.left {
    transform: rotateY(-90deg) translateZ(50px);
}

/* .title {
    text-align: center;
    margin-bottom: 500px;
    font-size: 50px;
} */

/* .roll-btn {
    margin-top: 20px;
    width: 100px;
    height: 50px;
    font-size: 14px;
    border: 1px solid #333;
    background-color: rgb(184, 189, 194);
    cursor: pointer;
}
.wrapper {
    text-align: center;
} */

/* .roll-btn:active {
    transform: scale(0.95);
    background-color: #e0e0e0;
} */
