* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    place-items: center;
    width: 350px;
    padding: 60px 0 40px;
    border-radius: 30px;
    background: white;
    box-shadow: 0 0 20px black;
}
.title {
    font-family: B612 Mono;
    font-size: 25px;
    font-style: bold;
    margin-bottom: 30px;
}

body {
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    background-color: cadetblue;
}

/* Styling for the dice */
.dice {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d; /* Preserves 3-d for all faces */
    transition: 1s ease;
    margin-top: 16px;
}

/* Animation */
@keyframes rolling {
    50% {
        transform: rotateX(455deg) rotateY(455deg);
    }
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 5px solid #f2f2f2;
    background: linear-gradient(145deg,#d9d7d5, #ffffff);
    transform-style: preserve-3d;
}

/* Added slant to dice and side faces affects */
.face::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #fbf5f5;
    transform: translateZ(-1px);

}

/* Added a dot to dice for numbering */
.face::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #131210;
}

/* Added second fact to the right side of slanted first face */
.front {
    transform: translateZ(50px);
}

/* Added thrid back face*/
.back {
    transform: rotateX(180deg) translateZ(50px);
}

.top {
    transform: rotateX(90deg) translateZ(50px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(50px);
}


.right {
    transform: rotateY(90deg) translateZ(50px);
}

.left {
    transform: rotateY(-90deg) translateZ(50px);
}

/* Testing purposes */
/* .dice {
    transform: rotateX(0deg) rotateY(90deg);

} */

/* One red dot for dice main face */
.front::after {
    width: 30px;
    height: 30px;
    background: #f63330;
    margin: -15px 0 0 -15px;
}


.back::after {
    margin: -35px 0 0 -30px;
    box-shadow: 40px 0,
                0 25px,
                40px 25px,
                0 50px,
                40px 50px;
}

.top::after {
    margin: -30px 0 0 -30px;
    box-shadow: 40px 40px;
}

.bottom::after {
    margin:-36px 0 0 -36px;
    box-shadow: 26px 26px,
                52px 52px,
                52px 0,
                0 52px;

}
.right::after {
    margin: -30px 0 0 -30px;
    box-shadow: 40px 0,
                0 40px,
                40px 40px;
}

.left::after {
    margin: -35px 0 0 -35px;
    box-shadow: 25px 25px,
                50px 50px;
}

/* Button style*/

.roll-btn {
    margin-top: 60px;
    font-size: 16px;
    padding: 8px 12px;
    border: 3px solid cadetblue;
    background-color: white;
    cursor: pointer;
    font-family: B612 Mono;
    transition: .4s;
}
.roll-btn:active {
    transform: scale(0.95);
    background-color: #e0e0e0;
}
.roll-btn:hover {
    color: #fff;
    background-color: cadetblue;
}

